<hello name="{{ name }}"></hello>
<p>
  Add an Angular Material checkbox component below. Feel free to check out their documentation at <a href="https://material.angular.io/components/checkbox/overview">https://material.angular.io/components/checkbox/overview</a>
</p>

<div><mat-card class="result">
<mat-card-content>
  <h2 class="example-h2">Result</h2>

  <section class="example-section">
    <mat-checkbox>
      I'm a checkbox
    </mat-checkbox>
  </section>
</mat-card-content>
</mat-card></div>
